vendor/
node_modules/
.env
.env.backup
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
.git/
.github/
.editorconfig
.gitattributes
phpunit.xml
README.md
